/**
LL Simple Console
These Fonts are licensed only for use
on these domains and their subdomains:
ertdfgcvb.xyz
It is illegal to download or use them on other websites.
*/

@font-face {
	font-family: 'Simple Console';
	src: url("fonts/Consolas.ttf");/*format('woff');*/
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Simple Console';
	src: url("fonts/Consolas.ttf"); /*format('woff');*/
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Simple Console';
	src: url("fonts/Consolas.ttf"); /*format('woff');*/
	font-weight: 700;
	font-style: normal;
}

